#team {
    background-color:  black;
    background-image:  url("/img/aboutus/team.jpg");
    background-size: cover;
    width: 100%;
    min-height: 300px;
    background-position:  center;
    background-repeat:  no-repeat;

    padding: 32% 35% 10% 35%;

}

@media (max-width: 600px){
  #team{
    padding-top: 45%;
    padding-bottom: 5%;
    padding-left: 0;
    padding-right: 0;
  }

}


#team h1 {
    margin-bottom: 0;
    position: absolute;
    color: rgb(255,  255,  255);
    font-size: 350%;
    text-shadow: 0 17px 8px rgba(0,  0,  0,  0.18);
}
#executive-team {
    text-align: center;
     margin: 6% auto;
}
#executive-team img {
    height:  250px;
     width: auto;
}
#executive-team hr {
    margin-bottom: 20px;
}
#executive-team .col-3 {
    position: relative;
    padding: 0;
    text-align: center;
}
#executive-team .col-3 h4 {
    margin-top: 25px;
    font-weight: bold;
}
#advisory-team {
    text-align: center;
     margin-bottom: 50px;
}
#advisory-team h1 {
    margin-bottom: 20px;
}
#advisory-team hr {
    height: 1.5px;
}
#advisory-team .row {
    margin: 0 8% 20px;
}
.advisory-team-member {
    margin: 1.5%;
    font-size: 0.65em;
}
.advisory-team-member .fa {
    margin: 0 6%;
    font-size: 1.6em;
}
#advisory-team h4 {
  margin-top: 6%
}
.quotation {
    padding: 80px 4%;
    background: rgba(38, 74, 134,  0.9);
    position: relative;
}
blockquote {
    margin: 15% 0;
    font-style: italic;
    color: rgb(255,  255,  255);
    text-align: center;
}
blockquote:before {
    font-family: sans-serif;
    content: "\201c";
    font-size: 6em;
    line-height: 0.1em;
    vertical-align: -0.3em;
}
blockquote:after {
    font-family: sans-serif;
    content: "\201d";
    font-size: 6em;
    line-height: 0.1em;
    vertical-align: -0.45em;
}
blockquote p {
    display: inline;
    font-size: 1.2em;
    line-height: 2.0em;
}
.get-in-touch {
    background-color: rgb(255,  255,  255);
    padding: 4%;
    margin: auto;
    box-shadow: 0 15px 29px 9px rgba(0,  0,  0,  0.34);
    max-width: 325px;
}
.get-in-touch .fa{
    color: rgb(55,  110,  170)
}
.get-in-touch h2 {
    margin-bottom: 3%}
.get-in-touch p {
    font-size: 1em;
}
.get-in-touch #p1{
    text-align: center;
}
/* @media screen and (max-width: 990px) {
    .get-in-touch {
    display: none;
} */

.fa1 {
    color: rgb(55,  110,  170);
}

.card, .pad{
  padding: 10px;
  margin: 10px
}
