.competition-header {
    background-image: url("../img/competition/competition_header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -160px -40px;
    background-attachment: fixed;
}
.tinted-content {
    margin: auto 0;
    padding: 80px 14% 80px 10%;
    background: rgba(0,  18,  63,  0.9);
    color: rgb(255,  255,  255);
    text-align: center;
}
.tinted-content h1 {
    color: rgb(255,  255,  255);
}
.tinted-content hr {
    background-color: rgb(255,  255,  255);
}
#history {
    padding: 1% 0;
    background-image: linear-gradient(to bottom,  rgba(244,  249,  255,  0.9) 0%,  rgba(244,  249,  255,  0.9) 100%),  url("../img/competition/MIX3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}
#history .col-12 {
    padding: 2%}
#history h1 {
    margin-top: 4%;
    margin-bottom: 4%}
#history img {
    float: right;
}
#history p {
    padding-top: 30px;
}
.inspiration p {
    background-image: linear-gradient(to bottom,  rgba(244,  249,  255,  1) 0%,  rgba(244,  249,  255,  1) 100%),  url("../img/competition/creative_shock_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
}
.prizes {
    text-align: center;
    /* padding-top: 50px; */
    /* margin-top: 35px; */
}

.fa-inr {
    color: rgb(55,  110,  170);
}

.prize-money {
    display: block;
    font-size: 2.7em;
}
.to-be-announced {
    font-size: 2em;
    font-weight: bold;
}
#preliminary {
    background-image: url("../img/competition/preliminary.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#preliminary-content {
    background: rgba(0,  18,  63,  0.9);
    padding: 4% 2%;
    color: rgb(255,  255,  255);
    text-align: center;
}
#preliminary-content h1 {
    color: rgb(255,  255,  255);
}
#preliminary-content .col-md-6 {
    padding: 0;
}
#preliminary-content .row {
    margin-bottom: 40px;
}
#preliminary-content .row p {
    padding: 0 20%}
#preliminary-content .row .col-md-6:first-child p {
    border-right: 3px solid rgb(255,  255,  255);
}
#preliminary-content > h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#preliminary-content hr {
    background-color: rgb(255,  255,  255);
}
.winner {
  color: rgb(55,  110,  170);
  font-weight: bold;
  font-size: 1.2em;
}

#process {
    padding: 5% 0;
}
#process-img {
    padding: 4% 0;
    pointer-events: none;
}
#finals {
    text-align: center;
    font-size: 90%}
#finals hr {
    margin-bottom: 20px;
}
#finals .row hr {
    background-color: rgb(255,  255,  255);
    width: 25px;
    margin-bottom: 30px;
}
#finals .row {
    color: rgb(255,  255,  255);
    background: rgba(0,  18,  63,  0.9);
}
#finals .col-md-6 {
    padding: 0;
}
#finals .finals-content {
    padding: 30px 12%}
#finals .finals-content h1 {
    margin-bottom: 20px;
    color: rgb(255,  255,  255);
}
#finals .finals-content p {
    padding: 0 4%}
#finals .imgCol {
    min-height: 300px;
    background-repeat: no-repeat
    background-size: cover;
    background-position: center;
}
#finals #imgCol1 {
    background-image: url("../img/competition/day1.jpg");
    background-size: cover;
    background-position: 0 30%;
}
#finals #imgCol2 {
    background-image: url("../img/competition/day2.jpg");
    background-size: cover;
    background-position: 0% 30%;
}
#finals #imgCol3 {
    background-image: url("../img/competition/day3.jpg");
    background-size: cover;
    background-position: 0 50%;
  }
#iitg-image {
    position: relative;
}
.get-in-touch {
    max-width: 400px;
    background-color: rgba(255,  255,  255,  1);
    position: absolute;
    top: 20%;
    right: 14%;
    margin: auto;
    padding: 1.5%

  }
.get-in-touch .fa{
    color: rgb(55,  110,  170)
}
.get-in-touch h2 {
    margin-bottom: 3%}
.get-in-touch p {
    font-size: 1.1em;
}
.get-in-touch #p1{
    text-align: center;
}
@media screen and (max-width: 880px) {
    .get-in-touch {
    visibility: hidden;
}
}@media screen and (max-width: 500px) {
    #iitg-image {
    display: none;
}
}
