.carousel {
    padding: 5% 0;
    text-align: center;
    color: rgb(55,  111,  170);
    background-image: linear-gradient(to bottom,  rgba(255,  255,  255,  0.6) 0%,  rgba(255,  255,  255,  0.6) 100%),  url("../img/home/60-lines.png");
}
.fa-angle-left {
  color: rgb(0,  18,  63);
}
.fa-angle-right {
  color: rgb(0,  18,  63);
}
p.no-wrap {
  white-space: nowrap;
}

#organizers {
    padding: 4% 0;
    background-image: linear-gradient(to bottom,  rgba(0,  18,  63,  0.7) 0%,  rgba(0,  18,  63,  0.7) 100%),  url("../img/home/auditorium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(255,  255,  255);
}
#organizers h1 {
    color: rgb(255,  255,  255);
}
#organizers hr {
    background-color: rgb(255,  255,  255);
}
#organizers .col-md-6 {
    position: relative;
    padding: 30px 3%}
#organizers .col-md-6 .row {
    padding: 1% 0;
}
#organizers .col-md-6 .row .col-2, .col-10 {
    padding: 0 8px;
}
#organizers h2 {
    text-transform: none;
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    margin-bottom: -15px;
    text-align: left;
}
#organizers h2 span {
    display: table-cell;
    vertical-align: middle;
}
#organizers p {
    padding-top: 40px;
}
#become-partner {
    color: rgb(255,  255,  255);
    padding: 4% 0;
    background: rgba(0,  18,  63,  0.8);
    text-align: left;
}
#become-partner h1 {
    color: rgb(255,  255,  255);
    text-align: left;
}
#become-partner a {
    color: rgb(255,  255,  255);
    text-decoration: underline;
}
#map-wrapper {
    width: 100%;
    min-height: 400px;
    position: relative;
}
#map {
    position: absolute;
    height: 100%;
    width: 100%}
.get-in-touch {
    max-width: 400px;
    background-color: rgb(255,  255,  255);
    box-shadow: 0 15px 29px 9px rgba(0,  0,  0,  0.34);
    position: absolute;
    top: 15%;
    right: 14%;
    margin: auto;
    padding: 1%
}
.get-in-touch .fa{
    color: rgb(55,  110,  170)
}
.get-in-touch h2 {
    margin-bottom: 3%}
.get-in-touch {
    font-size: 1.1em;
}
.get-in-touch #p1{
    text-align: center;
}

@media screen and (max-width:900px) {
    .get-in-touch {
    visibility: hidden;
}
}
