.timeline {
    padding: 0 20px;
    overflow-x: hidden;
    position: relative;
    visibility: hidden;
}
.timeline h1 {
    visibility: visible;
}
.animation-start {
    visibility: visible;
}
table {
    padding: 0;
    text-align: center;
    width: 100%}
table tr {
    width: 100%}
table td {
    width: 20%;
    padding: 0;
}
table .upper td {
    vertical-align: bottom;
}
table .lower td {
    vertical-align: top;
}
table div {
    padding: 0 30px;
}
table .upper div {
    position: relative;
    bottom: -4px;
}
.timeline-content {
    color: rgb(55,  111,  170);
    border: 2px solid rgb(120,  120,  120);
    padding: 10px;
}
.timeline-content hr {
    margin: 8px auto;
    width: 20%;
    height: 1px;
    background-color: rgb(120,  120,  120);
}
.timeline .timeline-start {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(183,  183,  183);
}
.timeline .timeline-end {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(183,  183,  183);
}
table .timeline-line {
    border-bottom: 4px solid rgb(183,  183,  183);
    position: relative;
    bottom: -17px;
    z-index: -2;
}
table .vertical-line {
    display: block;
    padding: 0;
    position: relative;
    content: '';
    width: 0;
    height: 90px;
    border-left: 2px solid rgb(120,  120,  120);
    margin: 0 auto;
}
table .timeline-circle {
    display: block;
    padding: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 5px solid rgb(88,  88,  88);
    background-color: rgb(55,  111,  170);
    margin: 0 auto;
}
@keyframes line {
    0% {
    transform: translateX(-500%);
}
100% {
    transform: translateX(0%);
}
}@keyframes circle {
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}@keyframes vertical-line {
    0% {
    transform: translateY(50%) scaleY(0);
}
100% {
    transform: translateY(0%) scaleY(1);
}
}@keyframes vertical-line-reverse {
    0% {
    transform: translateY(-50%) scaleY(0);
}
100% {
    transform: translateY(0%) scaleY(1);
}
}@keyframes content {
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}@keyframes end-circle {
    0% {
    visibility: hidden;
}
100% {
    visibility: visible;
}
}
